a:hover {
  border: 1px solid salmon;
}

/* ХЭДЕР */
.header {
  margin: 92px 24px 96px 24px;
  max-width: 1052px;
  max-height: 105px;
}

.header_nav {
  display: flex;
  justify-content: space-between;
}

.header_nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  column-gap: 32px;
  margin-left: 26.52px;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.list-style-without-underline > a {
  text-decoration: none;
} 

.list-style-circle {
  list-style: circle;
  text-decoration: underline;
}


.header_logo {
  display: block;
  max-width: 140px;
  max-height: 105px;
  margin-right: 145px;
}

.header_contacts {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  list-style: none;
  font-style: normal;
  margin-right: 60px;
  margin-top: 5px;
}

/* ОГРОМНАЯ КАРТИНКА И ТЕКСТ НА НЕЙ */
.cover {
  background-image: url(../images/cover.jpg);
  max-width: 1100px;
  max-height: 757px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgb(0 0 0 / 0.6);
}

.cover_title {
  z-index: 1;
  color: #fff;
  font-family: Raleway;
  font-size: 100px;
  font-weight: 700;
  line-height: 100px;
  letter-spacing: 0.6em;
  margin: 170px 50px 135px 50px;
}

.text_aligned-left {
  display: block;
}

.text_aligned-left > span {
  letter-spacing: 0.3em;
}

.text_aligned-center {
  display: block;
  margin-left: 286px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.text_aligned-center > span {
  letter-spacing: 0.3em;
}

.text_aligned-right {
  display: block;
  margin-left: 583px;
}

.letter-wide {
  letter-spacing: 0.6em;
}

.letter-standart {
  letter-spacing: 0.3em;
}

.no-letter {
  letter-spacing: 0;
}

.cover_low {
  display: flex;
  justify-content: space-between;
  color: #fff;
  z-index: 1;
  margin: 0px 50px 51px 78px;
}

.cover_low_text {
  font-family: Raleway, sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  align-self: center;
  word-spacing: 0.85em;
}


.cover_low_button {
  font-family: Raleway, sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 26px;
  max-width: 256px;
  max-height: 51px;
  color: #fff;
  padding: 12px 30px 11px 30px;
  border: 1px solid #fff;
  text-align: center;
  text-transform: uppercase;
  background: transparent;
}



/* 3 КАРТОЧКИ */
.lots {
  min-width: 1052px;
  min-height: 692px;
  margin: 179px 24px 0px 24px;
}

.lots_title {
  font-family: Raleway, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 47px;
  margin: 0 0 27px 40px;
}

.cards {
  min-height: 563px;
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
}

.cards > a {
  display: block;
  text-decoration: none;
  max-width: 334px;
  min-height: 563px;
}

.card {
  flex-grow: 1;
  height: 100%;
  width: 100%;
  position: relative;
}

.card > h3 {
  font-family: Raleway, sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: underline;
  color: #fff;
  z-index: 1;
  padding: 50px 40px 0px 40px;
}

.card > p {
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
  z-index: 1;
  margin-inline: 40px;
  margin-bottom: 48px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.lots_link-more {
  display: block;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  margin: 30px 0 0 40px;
}


/* ДОП. ИНФОРМАЦИЯ */
.about {
  margin: 150px 24px 180px 24px;
  max-width: 1052px;
  max-height: 595px;
  display: grid;
  grid-template-columns: 334px auto;
  gap: 0px 25px;
}

.about_logo {
  grid-column: 1/2;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background: #000;
  background-image: url(../images/logo-white.svg);
  background-size: 148px 114px;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 32px;
  margin-left: 42px;
}

.about_text {
  grid-column: 2/3;
  margin-top: 133px;
}

.about_text > h2 {
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 100px;
}

.about_text > p {
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  

}

/* делаю отступ между двумя р */
.about_text p:nth-of-type(1) {
  margin-bottom: 24px;
}



/* ФУТЕР, ПОДВАЛ САЙТА */
.footer {
  max-width: 1000px;
  max-height: 98px;
  margin: 180px 50px 88px 50px;
}

.nav_footer {
  display: flex;
  justify-content: space-between;
}

.contacts {
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px;
}

.contacts > a {
  display: block;
}

.menu {
  color: #000;
  text-align: center;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 35px;
}

.menu > a {
  display: block;
}

.menu__link-none-decoration {
  text-decoration: none;
}

.socials {
  display: flex;
  column-gap: 48px;
}

.youtube_icon > img {
  width: 48px;
  height: 48px;
}

.VK_icon > img {
  width: 48px;
  height: 48px;
}

.pinter_icon > img {
  width: 48px;
  height: 48px;
}